.push-event {
    margin: 2em 1em;
}

.push-event .repo {
    display: flex;
    justify-content: space-between;
    background: #DC2626;
    color: antiquewhite;
    padding: 8px;
    border-radius: 10px;
    font-size: 18px;
    font-style: italic;
}

.push-event .repo a:link, a:visited, a:active {
    color: antiquewhite;
}

.commit-container {
    margin: 1em;
}

.commit {
    display: flex;
}

li {
    margin-top: 1em;
    margin-left: 2em;
    list-style: circle none;
}
