.experience-container {
    margin: 2em 1em;
}

.experience-container .title {
    margin-top: 1em;
    font-style: italic;
}

.experience-container .responsibilities-container {
    margin-top: 2em;
    margin-left: 3em;
}

header {
    display: flex;
    justify-content: space-between;
}

.company {
    font-size: 24px;
}

li {
    margin-top: 1em;
    list-style: circle  none;
}

.skills-outer-container {
    position: absolute;
    bottom: 5em;
    padding: 12px;
}

.skills-container {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 8px;
    max-width: 40em;
}

.skills-container > div {
    border-radius: 18px;
    background: #DC2626;
    color: antiquewhite;
    padding: 8px;
}